@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }
  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
}

/* ============= NavLink active Start here ============== */
nav .active li {
  color: black;
  font-weight: 600;
  text-decoration: 1px underline rgb(0, 0, 0);
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: white;
    font-weight: 600;
    text-decoration: 1px underline white;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* ============= NavLink active End here ================ */


@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-style-height: 65vh;
  --card-style-width: calc(var(--card-style-height) / 1.5);
}

nav  {
  -webkit-box-shadow: 2px 3px 20px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: 2px 3px 20px 0px rgba(0,0,0,0.51);
  box-shadow: 2px 3px 20px 0px rgba(0,0,0,0.51);
}

.card-style {
  width: var(--card-width);
  height: var(--card-height);
  padding: 1px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1em;
  cursor: pointer;
  font-family: cursive;
}

.card-style:hover {
  color: rgb(251, 251, 251);
  transition: color 1s;
}
.card-style:hover:before,
.card-style:hover:after {
  animation: none;
  opacity: 0;
}

.card-style::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 6px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #90d9e4 43%,
    #83edd4
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card-style::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #90d9e4 43%,
    #83edd4
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}



